:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  padding: 2.4rem;
}
.Navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
  margin-bottom: 9px;
  z-index: 1100;
}
.mainStyle {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 9px auto;
  gap: 20px;
}
.box {
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
  padding: 20px;
  max-height: 800px;
  overflow: auto;
}
.menu {
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-align: center;
  padding: 19px;
  gap: 106px;
  max-height: 600px;
  overflow: hidden;
}
.menu input {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 100%;
  transition: all 0.3s;
  color: black;
  margin-top: 10px;
  text-align: center;
}
.menu p {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}
.menu div {
  padding: 10px;
  display: grid;
  gap: 20px;
  text-align: center;
}
.menu button {
  background-color: #096209;
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  width: 149px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  direction: rtl;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}
.input {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 50rem;
  transition: all 0.3s;
  color: black;
  text-align: right;
}
.input:focus {
  outline: #fff solid 4px;
}
.num-results {
  justify-self: end;
  font-size: 1.9rem;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 910px) {
  .input {
    width: 20rem;
  }
}
@media (max-width: 600px) {
  .input {
    width: 20rem;
    display: none;
  }
  .Navbar {
    grid-template-columns: 1fr 0 1fr;
  }
}
@media (max-width: 1300px) {
  .menu {
    display: none;
  }
  .Navbar {
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
  }
  .mainStyle {
    grid-template-columns: 1fr;
  }
  .num-results {
    width: 120px;
    font-size: 1.5rem;
  }
}
@media (max-width: 1750px) {
  .menu {
    gap: 0px;
  }
}
@media (max-width: 1660px) {
  .menu {
    display: none;
  }
  .Navbar {
    grid-template-columns: 1fr 1fr 1fr 0.1fr;
  }
  .mainStyle {
    grid-template-columns: 1fr;
  }
}
.hamberger {
  width: 48px;
  margin-top: 10px;
}
.Login {
  border-radius: 10px;
  background-color: var(--color-primary);
}
.Backdrop {
  position: fixed;
  z-index: 500;
  background-color: rgba(47, 48, 48, 0.74);
  width: 100%;
  height: 100%;
  padding: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  text-align: center;
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  gap: 20px;
  background-color: var(--color-primary);
  padding: 30px;
  width: 30%;
  border-radius: 9px;
  text-align: center;
}
.Modal input {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
  color: black;
  margin-top: 10px;
  text-align: center;
  background-color: white;
}
.Modal button {
  background-color: #096209;
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  width: 149px;
  height: 50px;
}
.Modallogo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
}
.Modallogo span {
  font-size: 3.2rem;
}

.Modallogo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: black;
}
.item {
  z-index: 300;
  background-color: var(--color-primary);
  border-radius: 15px;
  padding: 50px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
}
.view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-decoration: none;
}
.view {
  font-size: 2.4rem;
  font-weight: 500;
  color: black;
}
.rate {
  display: grid;
  grid-template-columns: 20px 60px;
}
.condition {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.done {
  background-color: green;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 128, 0, 0.4);
}

.in-progress {
  background-color: yellow;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(255, 255, 0, 0.4);
}

.cancel {
  background-color: red;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(255, 0, 0, 0.4);
}
.sort {
  text-align: center;
  border-radius: 5px;
  background-color: #6741d9;
  color: whitesmoke;
  font-weight: bold;
  margin-left: 10px;
}
@media (max-width: 1150px) {
  .condition {
    font-size: 1.6rem;
  }
  .view {
    font-size: 1.6rem;
  }
}
@media (max-width: 1020px) {
  .Modal {
    width: 300px;
  }
  .condition {
    font-size: 1.3rem;
  }
  .view {
    font-size: 1.3rem;
  }
  .sort {
    margin-left: 5px;
    font-weight: 200;
    font-size: 10px;
  }
}
.res-star {
  width: 20px;
}
@media (max-width: 700px) {
  .condition {
    font-size: 0.3rem;
  }
  .view {
    font-size: 0.5rem;
  }
  .rate {
    grid-template-columns: 10px 40px;
  }
  .res-star {
    width: 10px;
  }
}
@media (max-width: 400px) {
  .condition {
    font-size: 0.15rem;
  }
  .view {
    font-size: 0.5rem;
  }
}
.res-condition {
  display: grid;
  grid-template-columns: 0.5fr;
}
.AddBar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  background-color: var(--color-primary);
  padding: 30px;
  border-radius: 9px;
  text-align: center;
  z-index: -100;
}
.AddBar input {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 50rem;
  transition: all 0.3s;
  color: black;
  text-align: right;
}
/* Styles for the select dropdown within AddBar */
.AddBar div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.AddBar div select {
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.AddBar .div select:hover {
  border-color: #888;
}

.AddBar div select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Styles for the select dropdown options within AddBar */
.AddBar div select option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

.AddBar div select option:hover {
  background-color: #eee;
}

.AddBar div select option:checked {
  background-color: #007bff;
  color: #fff;
}
.AddBar button {
  background-color: #096209;
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 650px) {
  .AddBar input {
    width: 28rem;
  }
  .AddBar div {
    grid-template-columns: 0.5fr 0.5fr;
  }
}

.box button {
  background-color: #096209;
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  width: 149px;
  height: 50px;
}
.Goal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  background-color: var(--color-primary);
  padding: 30px;
  width: 40%;
  border-radius: 9px;
  text-align: center;
  font-size: 2.6rem;
  direction: rtl;
  row-gap: 30px;
}
.Goal h1 {
  font-weight: bold;
  font-size: 3rem;
}
.Goal label {
  padding: 10px;
  font-weight: bold;
}
.Goal div {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  column-gap: 10px;
}
@media (max-width: 1450px) {
  .Goal {
    width: 60%;
  }
}
@media (max-width: 950px) {
  .Goal {
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    font-size: 1.6rem;
    width: 80%;
  }
  .Goal div {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #res {
    font-size: 1.3rem;
  }
}
@media (max-width: 540px) {
  .Goal {
    width: 90%;
  }
}
.deletebut {
  text-decoration: none;
  background-color: red;
  border: 0;
  font-weight: bol;
  color: white;
  cursor: pointer;
}
.editbut {
  text-decoration: none;
  background-color: green;
  border: 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
